body {
  background: linear-gradient(270deg, #0c31e9, #1db1d3, #ffffff);
  background-size: 600% 600%;
  animation: gradientMove 10s ease-out infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.up{
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo left, menu center/right */
  padding: 10px;
}

.navbar-custom {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin: 0;
  gap: 20px;
}

.navbar-custom li {
  padding: 10px 20px;
}

.navbar-custom li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.navbar-custom li a:hover {
  color: #0d6efd;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right:100px;
  margin-top:10px;
  margin-left:15px;
  border-radius: 50%;
}

.feature-card {
  border-radius: 15px;
}

@media (max-width: 768px) {

  .navbar-custom {
    flex-direction: column;
    text-align: center;
  }

  .navbar-custom li {
    margin: 10px 0;
  }

  .logo-item {
    margin-top:15px;
  }
}
.a{
background:linear-gradient(blue,aqua);
}
.text-box{
padding-bottom:10px;
}
